<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://st2.depositphotos.com/1216711/9746/v/450/depositphotos_97468332-stock-illustration-abstract-car-icon.jpg" %>
    <% end %>

    <h1> Don't Dream It ,Drive It with..... MAUCAR LTD</h1>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link white-text " %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Cars", cars_path, class: "nav-link white-text" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://th.bing.com/th/id/R.02252c9f316869056ded533af030b882?rik=mgZSQFieMZihIQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_110805.png&ehk=fR%2fcz4Pfhh7TYIpseaXj5lESZkLZm77nb7da%2b4Gty1I%3d&risl=&pid=ImgRaw&r=0", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item white-text"  %>
              <%= link_to "Another action", "#", class: "dropdown-item white-text" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item white-text" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link white-text" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
