<div class="container py-5">
  <h3>Make a new booking</h3>
    <div class="row">
      <%= simple_form_for @car do |f| %>
      <%= f.input :start_date%>
      <%= f.input :end_date%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
          <% end %>
          <%= link_to "Back", root_path%>
</div>
