<div class="" style="background-color: #33475b;">
  <div class="container">
    <div class="row">
      <h1><p><%= image_tag @car.poster_url, :width => "50%", :length => "50%" %><br><%= @car.model %> <%= @car.description %><br>Price : Rs <%= @car.price_per_day %> year : <%= @car.year %></p></h1>
    </div>
    <div class="list-group">
      <% @car.rentals.each do |rental| %>
        <p class="list-group-item"> User id : <%= rental.user_id %>
        <br> Car booked from : <%= rental.start_date %> To : <%= rental.end_date %>
        <br> Amount to be paid : Rs <%= rental.total_price %></p>
      <% end %>
    </div>
    <div class="row">
      <%= simple_form_for [@car, @rental] do |f| %>
        <%= f.input :start_date, as: :date%>
        <%= f.input :end_date, as: :date%>
        <%= f.submit 'submit' %>
      <% end %>
    </div>
    <%= link_to "Back", root_path,  class: "btn btn-primary" %>
    <%# <%= link_to "Add a review", new_car_review_path(@car),  class: "btn btn-primary" %>
  </div>
</div>
